<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100</particles>
  <batches>100</batches>
  <inactive>50</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-19 -19 -1 19 19 1</parameters>
    </space>
  </source>
</settings>
